extends layout

block content
  .jumbotron
    .container
      h1 This is Meme:Tron
      p Don't remember where you used what meme? Want to optimize your meme impact in the social internets? Get started with <strong>Meme:Tron</strong> today.
      p
        a.btn.btn-primary.btn-lg(role="button") Sign up >

  .container
      .row
        .col-md-4
          h2 Track
          p Remember in which of your 1000 social multi channels you posted what meme!

        .col-md-4
          h2 React
          p Keep track of your meme repertoire to meme quick and accurate!

        .col-md-4
          h2 Optimize
          p Shape your social internets impact by optimizing your meme portfolio

