extends ../layout

block content
  form(method="POST")
    .form-group
      label(for="username") Email
      input.form-control(type="email", id="username", name="username", placeholder="Enter email")

    .form-group
      label(for="password") Password
      input.form-control(type="password", id="password", name="password")

    button.btn.btn-primary(type="submit") Submit